* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.dark-bg {
  background-color: #1f2937;
  color: #f9faf8;
}

/* Header Section */
header,
ul {
  display: flex;
  padding: 20px 0 0 0;
}

header {
  justify-content: space-between;
}

ul {
  list-style-type: none;
  gap: 10px;
}

.header-logo {
  font-size: 24px;
  font-weight: 700;
}
